***Basic python***

# 1. Split this string

In [ ]:
s="Hi there Sam!"

In [ ]:
['Hi', 'there', 'Sam!']

['Hi', 'there', 'Sam!']

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# 2. **Use .format() to print the following string**.
# Output should be: The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [ ]:
planet = "Earth"
diameter = 12742
print('The diameter of {}  is {} kilometers ' .format(planet,diameter))

The diameter of Earth  is 12742 kilometers

# 3. In this nest dictionary grab the word "hello"

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]["tricky"][3]['target'][3])

hello

# NUMPY

In [ ]:
import numpy as np

# 4.1 Create an array of 10 zeros?
# 4.2 Create an array of 10 fives?

In [ ]:
import numpy as np
array=np.zeros(10)
print("array of 10 zeros is \n",array)
arr=np.zeros(10)*5
print("array of 10 five is \n",arr)

array of 10 zeros is
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
array of 10 five is
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

# 5. Create an array of all the even integers from 20 to 35

In [ ]:
import numpy as np
array=np.arange(20,35,2)
print("Array of all the even integers from 20 to 35")
print(array)

Array of all the even integers from 20 to 35
[20 22 24 26 28 30 32 34]

# 6. Create a 3x3 matrix with values ranging from 0 to 8

In [ ]:
import numpy as np
array=np.arange(9).reshape(3,3)
print(array)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

# 7. Concatenate a and b
# a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [ ]:
from numpy.matrixlib.defmatrix import concatenate
import numpy as np
a=np.array([1,2,3])
b=np.array([4,5,6])
c=np.concatenate((a,b))
print(c)

[1 2 3 4 5 6]

# Pandas
# 8. Create a dataframe with 3 rows and 2 columns

In [ ]:
import pandas as pd

In [ ]:
import pandas as pd
d=[1,2,3]
df=pd.DataFrame(d,columns=['panda'])
print(df)

   panda
0      1
1      2
2      3

# 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [ ]:
import pandas as pd
from dateutil.parser import parse
date_series = pd.Series(['1 Jan 2023', '10 Feb 2023'])
print(date_series)

0     1 Jan 2023
1    10 Feb 2023
dtype: object

# 10. Create 2D list to DataFrame
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [ ]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [ ]:
import pandas as pd

lists = [[ 1,'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]
df = pd.DataFrame(lists, columns = ['Name', 'Age','yr'])
print(df)

   Name  Age  yr
0     1  aaa  22
1     2  bbb  25
2     3  ccc  24